/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    /* Fonts */
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Light Theme Colors */
    --light-background: #ffffff;
    --light-text: #333333;
    --light-info-background: #f9f9f9;
    --light-info-text: #555;
    --light-border: #cccccc;
    --light-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    --light-button: #f4f4f4;
    --light-button-hover: #e6e6e6;

    /* Dark Theme Colors */
    --dark-background: #121212;
    --dark-text: #ffffff;
    --dark-border: #333333;
    --dark-shadow: 0px 1px 2px rgba(255, 255, 255, 0.1);

    /* Sepia Theme Colors */
    --sepia-background: #f4ecd8;
    --sepia-text: #5b4636;
    --sepia-border: #a4978e;
    --sepia-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

    /* Border radius */
    --border-radius: 4px;
}

body {
    font-family: var(--font);
}

/* Common Styles for UI Elements */
.button,
.card,
.modal,
.input {
    border-radius: var(--border-radius);
    box-shadow: var(--light-shadow);
}